/* 
Los 3 tipos de selectores básicos que tenemos en CSS son:

1) Selectores de etiqueta
2) Selectores de identificadores
3) Selectores de clases
*/

body {
  background-color: rgb(211, 242, 255);
  color: #000000;
  font-family: "Inter", sans-serif;
  margin: auto;
  width: 1040px; 
  padding: 55px;
}

img {
  max-width: 100%;
}

p {
  color: rgb(0, 0, 0);
  margin-left: auto;
}

#titulo {
  background-color: aliceblue;
  width: 300;
  color: rgb(0, 0, 0);
  text-align: center;
  
}

.container {
  /* background-color: bisque; */
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.bg-purple {
  background-color: rgb(250, 184, 250);
  border-radius: 0.5rem;
}

.bg-pink {
  background-color: rgb(228, 199, 255);
  border-radius: 0.5rem;
}

.bg-orange {
  background-color: rgb(255, 223, 164);
  border-radius: 0.5rem;
}

.fs-20 {
  font-size: 20px;
}

.fs-16 {
  font-size: 16px;
}

.fs-12 {
  font-size: 12px;
}

td,
  th {
    border: 1px solid rgb(0, 0, 0);
  }